@foreach (var item in Products)
{
    <div class="col-md-3 mb-2">
        <a href="#">
            <div class="card">
                <img class="img-thumbnail" src="@item.ImagaURL">
                <div class="card-body">
                    <h5 class="card-title mb-3">
                        @item.Name
                    </h5>
                </div>
                <div class="card-text">
                    <b>@item.Price.ToString("C")</b>
                </div>
            </div>
        </a>
    </div>
}

