@page "/ProductsByCategory/{CategoryId:int}"

@if (ProductsDtos == null && ErrorMessage == null)
{
    <DisplaySpinner/>
}
else if (ErrorMessage != null)
{
    <DisplayError ErrorMessage="@ErrorMessage"/>
}
else
{
    <h3>Products (@CategoryName)</h3>
    @if(ProductsDtos.Count() > 0)
    {
        <div class="row mt-3">
        <DisplayProducts Products="@ProductsDtos"></DisplayProducts>
        </div>
    }
}